{
  "prettier/prettier": [
    "error",
    {
      "singleQuote": false,
      "parser": "vue",
      "semicolons": true,
      "htmlWhitespaceSensitivity": "ignore"
    },
    {
      "usePrettierrc": false
    }
  ]
}
